<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar">

           <div class="logo">
             <img  src="../assests/icons/logo.svg" width="40px"  />
             <h2>Exclusive</h2>
           </div>

           <ul class="list">
            <li>
                <input placeholder="What are you looking for" type="text"/>
                <button class="search">
                    <img src="../assests/icons/search.svg" alt="search" width="20px"/>
                </button>
            </li>
            <li>
                <a href="./register.html">
                    <img src="../assests/icons/user.svg" alt="user" width="17px"/>
                </a>
            </li>
            <li>
                <a>
                    <img src="../assests/icons/cart.svg" alt="cart" width="22px"/>
                </a>
            </li>
           </ul>
    </nav>
</body>
</html>