

body {
  font-family: "Noto Sans", serif;
   margin: 0px;
  padding: 0px;
}

.navbar_container {
    border-bottom: 1px solid #d5d5d5;
}
.website-info{
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: black;

}
.website-info ul{
  list-style: none;
  display: flex;
  gap: 10px;
}

.info-list li span{
  color: white;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
}



.navbar {
    padding-bottom: 6px;

    padding-left: 5px;
    padding-right: 5px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}


.navbar .list {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}
.navbar .list li {
    display: flex;
    align-items: center;

}
.search-bar {
    display: flex;
    align-items: center;
    
    width: 300px;
  }

  .search-bar input {
    border: none;
    outline: none;
    background: transparent;
    flex-grow: 1;
    font-size: 14px;
    padding: 8px;
  }

  .search-bar button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: 5px;
    display: flex;
    align-items: center;
  }

  .search-bar button img {
    width: 18px;
    height: 18px;
  }


.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;

}


.logo h2 {
    color: #242424;
    font-weight: 400;
}
