

body {
  font-family: "Noto Sans", serif;
   margin: 0px;
  padding: 0px;
}

header {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

}

.img-section {
    width: 100%;
    height: 600px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    background: url('../assests/imgs/ps5.jpg') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.img-section div h1{

    font-size: 25px;
    color:#E3F2FD;
}
.img-section div h5{

    font-size: 15px;
    color:#79A9FF;
}
.img-section div p{
    color: #E3F2FD;
    line-height: 23px;

}
.img-section div button{
padding: 10px;
padding-left: 20px;
padding-right: 20px;
border: none;
background-color:#64B5F6 ;
color: white ;

}



.img-section div{
    background:  #0D47A1;
    width: 400px;
    padding: 20px;
    margin-right: 40px;
    border-radius: 20px;

}

.navbar {
    padding-bottom: 6px;

    padding-left: 5px;
    padding-right: 5px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #d5d5d5;
    
}


.navbar .list {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}
.navbar .list li {
    display: flex;
    align-items: center;

}
.search-bar {
    display: flex;
    align-items: center;
    
    width: 300px;
  }

  .search-bar input {
    border: none;
    outline: none;
    background: transparent;
    flex-grow: 1;
    font-size: 14px;
    padding: 8px;
  }

  .search-bar button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: 5px;
    display: flex;
    align-items: center;
  }

  .search-bar button img {
    width: 18px;
    height: 18px;
  }


.logo {
    display: flex;
    align-items: center;
    gap: 8px;
}


.logo h2 {
    color: #242424;
    font-weight: 600;
}
