* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    
    font-family: "Noto Sans", serif;
    
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    background: white;
    border-radius: 10px;
    height: 700px;
   
}

.form {
    width: 40%;
    padding: 120px;
}

.form .title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #242424;
}

.form .title span {
    color : #0D47A1;
    margin-right :8px;
}


.form label {
    color: #242424;
    font-weight: 600;
    font-size: 14px;
}


.form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

.form select {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;

}


.btn {
    width: 100%;
    padding: 10px;
    background: #0D47A1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
}


.image-section {
    flex: 1;
    padding: 20px;
    padding-left: 0px;
    height: 100%;
    background-color: #E0F7FA;
}


.image-section img {
    width: 100%;
    height: 100%;

}
.name {
    display: flex;
    gap: 12px;
}



